<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID"
	version="4.0">
	<display-name>healthcare</display-name>
	<servlet>
		<description>
        </description>
		<display-name>SensorRegistry</display-name>
		<servlet-name>SensorRegistry</servlet-name>
		<servlet-class>com.brilcom.healthcare.SensorRegistry</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordType</display-name>
		<servlet-name>RecordType</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordType</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordReason</display-name>
		<servlet-name>RecordReason</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordReason</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordEtc</display-name>
		<servlet-name>RecordEtc</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordEtc</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>GetSympthom</display-name>
		<servlet-name>GetSympthom</servlet-name>
		<servlet-class>com.brilcom.healthcare.GetSympthom</servlet-class>
	</servlet>
	<servlet>
        <description>
        </description>
        <display-name>KakaoLogin</display-name>
        <servlet-name>KakaoLogin</servlet-name>
        <servlet-class>com.brilcom.healthcare.KakaoLogin</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>KakaoLogout</display-name>
        <servlet-name>KakaoLogout</servlet-name>
        <servlet-class>com.brilcom.healthcare.KakaoLogout</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Withdrawal</display-name>
        <servlet-name>Withdrawal</servlet-name>
        <servlet-class>com.brilcom.healthcare.Withdrawal</servlet-class>
    </servlet>
	<servlet>
		<description>
        </description>
		<display-name>GetProfile</display-name>
		<servlet-name>GetProfile</servlet-name>
		<servlet-class>com.brilcom.healthcare.GetProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>UpdateProfile</display-name>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>com.brilcom.healthcare.UpdateProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>RegisterDevice</display-name>
		<servlet-name>RegisterDevice</servlet-name>
		<servlet-class>com.brilcom.healthcare.RegisterDevice</servlet-class>
	</servlet>
	<servlet>
        <description>
        </description>
        <display-name>DeleteDevice</display-name>
        <servlet-name>DeleteDevice</servlet-name>
        <servlet-class>com.brilcom.healthcare.DeleteDevice</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetDeviceInfo</display-name>
        <servlet-name>GetDeviceInfo</servlet-name>
        <servlet-class>com.brilcom.healthcare.GetDeviceInfo</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetLatestFirmware</display-name>
        <servlet-name>GetLatestFirmware</servlet-name>
        <servlet-class>com.brilcom.healthcare.GetLatestFirmware</servlet-class>
    </servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordSurvey</display-name>
		<servlet-name>RecordSurvey</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordSurvey</servlet-class>
	</servlet>
	<servlet>
        <description>
        </description>
        <display-name>GetBadge</display-name>
        <servlet-name>GetBadge</servlet-name>
        <servlet-class>com.brilcom.healthcare.GetBadge</servlet-class>
    </servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordBadge</display-name>
		<servlet-name>RecordBadge</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordBadge</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>GetHospitalInfo</display-name>
		<servlet-name>GetHospitalInfo</servlet-name>
		<servlet-class>com.brilcom.healthcare.GetHospitalInfo</servlet-class>
	</servlet>
	<servlet>
        <description>
        </description>
        <display-name>RecordHospitalData</display-name>
        <servlet-name>RecordHospitalData</servlet-name>
        <servlet-class>com.brilcom.healthcare.RecordHospitalData</servlet-class>
    </servlet>
	
	<servlet>
		<description>
        </description>
		<display-name>RecordMedicine</display-name>
		<servlet-name>RecordMedicine</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordMedicine</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordSurvey4</display-name>
		<servlet-name>RecordSurvey4</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordSurvey4</servlet-class>
	</servlet>
	<servlet>
		<description>
        </description>
		<display-name>RecordSurvey12</display-name>
		<servlet-name>RecordSurvey12</servlet-name>
		<servlet-class>com.brilcom.healthcare.RecordSurvey12</servlet-class>
	</servlet>


	<servlet>
		<description>
        </description>
		<display-name>Hello</display-name>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.brilcom.healthcare.Hello</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RecordType</servlet-name>
		<url-pattern>/RecordType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordReason</servlet-name>
		<url-pattern>/RecordReason</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordEtc</servlet-name>
		<url-pattern>/RecordEtc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSympthom</servlet-name>
		<url-pattern>/GetSympthom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>KakaoLogin</servlet-name>
        <url-pattern>/KakaoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KakaoLogout</servlet-name>
        <url-pattern>/KakaoLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawal</servlet-name>
        <url-pattern>/Withdrawal</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProfile</servlet-name>
		<url-pattern>/GetProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterDevice</servlet-name>
		<url-pattern>/RegisterDevice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>DeleteDevice</servlet-name>
        <url-pattern>/DeleteDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeviceInfo</servlet-name>
        <url-pattern>/GetDeviceInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLatestFirmware</servlet-name>
        <url-pattern>/GetLatestFirmware</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordSurvey</servlet-name>
		<url-pattern>/RecordSurvey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHospitalInfo</servlet-name>
		<url-pattern>/GetHospitalInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>RecordHospitalData</servlet-name>
        <url-pattern>/RecordHospitalData</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RecordBadge</servlet-name>
        <url-pattern>/RecordBadge</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBadge</servlet-name>
		<url-pattern>/GetBadge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordMedicine</servlet-name>
		<url-pattern>/RecordMedicine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordSurvey4</servlet-name>
		<url-pattern>/RecordSurvey4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordSurvey12</servlet-name>
		<url-pattern>/RecordSurvey12</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>main.jsp</welcome-file>
		<welcome-file>properties.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>MultiPartFilter</filter-name>
		<filter-class>org.jepetto.filter.MultiPartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MultiPartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>